<%
#
# https://www.epetition-unzensiert.de - Web-Application to publish censored petitions.
# Copyright (C) 2013 Jan Kechel
#  
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<h1><%= @petitionen.total_count %> Petitionen von <%= @foruser.email %></h1>
<%= paginate @petitionen %>
<ul class="trennlinien highlightonhover blocklinks">
    <li><b>
        <span style="display:inline-block;width:120px;">Veröffentlicht</span>
        <span style="display:inline-block;width:350px;">Titel</span>
        <span style="display:inline-block;width:80px;text-align:center;">Unterstützer</span>
        <span style="display:inline-block;width:80px;text-align:center;">Gegner</span>
        <span style="display:inline-block;width:80px;text-align:center;">SPAM</span>
        <span style="display:inline-block;width:80px;text-align:center;">Gesperrt?</span>
      </b>
    </li>

    <% @petitionen.each do |petition| %>
      <%= render :partial => 'petitionen/as_li', :locals => { :foruser => @foruser, :petition => petition } %>
    <% end %>
</ul>
<%= paginate @petitionen %>
<i>* Petitionen anklicken für Details und zum Bearbeiten.</i><br/>
<br>

<%= link_to 'Neue Petition erstellen', new_user_petition_path(@foruser), :class => 'button neu' %>
