<%
#
# https://www.epetition-unzensiert.de - Web-Application to publish censored petitions.
# Copyright (C) 2013 Jan Kechel
#  
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<h2>Mein Profil</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <span class="stdlabel150"><%= f.label :email, 'E-Mail' %></span> <%= f.email_field :email, :autofocus => true %><br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <br/><b>Derzeit wird die Bestätigung für die E-Mail Adresse <%= resource.unconfirmed_email %> erwartet.</b><br/>
  <% end %>

  <br/>

  <span class="stdlabel150"><%= f.label :password, "Passwort" %></span>
  <%= f.password_field :password, :autocomplete => "off" %> <i>* leer lassen wenn Passwort nicht geändert werden soll</i><br/>
  <br/>
  <span class="stdlabel150"><%= f.label :password_confirmation, "Wiederholung" %></span>
  <%= f.password_field :password_confirmation %><br/>
  <br/>
  <span class="stdlabel150"><%= f.label :current_password, "aktuelles Passwort" %></span>
  <%= f.password_field :current_password %><br/>

<br/>
<%= link_to 'Abbrechen', '/', :class => 'button abbrechen' %>
<%= f.submit "Speichern", :class => 'button speichern', :style => 'float:right;' %>
<% end %>

