<%
#
# https://www.epetition-unzensiert.de - Web-Application to publish censored petitions.
# Copyright (C) 2013 Jan Kechel
#  
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<li>
  <a href="<%= browser_show_path(m.petition) %>">
    <span style="display:inline-block;width:200px;">
      <% if m.bin_unterstuetzer %>
        <span class="unterstuetzer">Ich unterstütze diese Petition.</span>
      <% end %>
      <% if m.bin_dagegen %>
        <span class="dagegen">Ich bin gegen diese Petition.</span>
      <% end %>
      <% if m.ist_spam %>
        <span class="spam">Ich halte diese Petition für SPAM.</span>
      <% end %>
    </span>
    <span style="display:inline-block;width:350px;"><%= m.petition.ist_zensiert? ? m.petition.titel_zensiert : m.petition.titel %></span>
    <span style="display:inline-block;width:100px;text-align:center;"><%= m.petition.get_anzahl_unterstuetzer %></span>
    <span style="display:inline-block;width:100px;text-align:center;"><%= m.petition.get_anzahl_dagegen %></span>
    <span style="display:inline-block;width:100px;text-align:center;"><%= m.petition.get_anzahl_spam %></span>
  </a>
</li>

