<%
#
# https://www.epetition-unzensiert.de - Web-Application to publish censored petitions.
# Copyright (C) 2013 Jan Kechel
#  
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style>
    body { font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; background:#ddd;}
    h1 { padding-left:10px; padding-top:10px; font-size:20px; }
    h2 { font-size:16px; }
    .anhang { color:#666; font-size:11px;}
    .page { width:800px; margin:0px; padding:0px; margin:auto; border-width:1px; border-color:#295A78; border-style:solid; background:#fff; }
    p { padding:10px; }
    .content { padding:20px; }
    .header { background:#295A78; padding:20px; height:100px;}
    .header { color:#fff; }
  </style>
</head>
<body>
<div class="page">
  <div class="header">
      <div style="float:right;width:260px;text-align:center;">
        <img border="0" src="<%= attachments['epetition-unzensiert.png'].url -%>" alt="epetition-unzensiert.de" /><br/>
      </div>
      <h1>Anmeldung bei epetition-unzensiert.de</h1>
  </div>
  <div class="content">
    <p>
      Hallo <%= @email %>.<br/>
      Es wurde ein Konto mit der E-Mail Adresse <code><%= @email %></code> auf epetition-unzensiert.de erstellt.<br/>
      <br/>
      <b>Bitte best채tigen Sie Ihre Anmeldung:</b><br/>
      <br/>
      Klicken Sie auf diesen <b><%= link_to 'Best채tigungs-Link', confirmation_url(@resource, :confirmation_token => @token) %></b> um Ihre Anmeldung zu best채tigen.
      <br/>
      <br/>
      Alternativ besuchen sie folgende URL in ihrem Browser:<br/>
      <br/>
      <code><%= confirmation_url(@resource, :confirmation_token => @token) %></code>
      <br/>
      <br/>
      Falls eine Anmeldung bei epetition-unzensiert.de nicht gew체nscht wird, oder nicht von Ihnen beantragt wurde, so ignorieren Sie bitte diese E-Mail.<br/><br/>
    </p>

    <div class="anhang">
      <br/>
      <br/>
      <hr/>
      <div style="text-align:center;">
        Diese EMail wurde automatisch versendet. Bitte nicht auf diese EMail antworten.<br/>
        <br/>
        epetition-unzensiert.de - ein privates Projekt von Jan Kechel, C.-Kreutzer. 24, D-78333 Stockach
        <br/>
        <br/>
        <%= @ip %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
